{% extends "NavBar.html" %}

{% block content %}
    <title>Address and Contact</title>

    <br><br><br><br><br><br><br>

    <link rel="stylesheet" type="text/css" href="../static/foodnavi.css">
<div class="bodyimage">
<div class="itemformm" >
    <form method="post">
        <fieldset id="particularaddress">
            <h1 class="title">Details</h1>
            <div class="question1">
                <label for="contactnumber" class="eachq">Contact number:</label><br>
                    <input type="text" name="contactnumber" id="contactnumber" pattern="\d{8}" title="Please enter a valid contact number. 8 digits" required >
                <br>
                <br>
                <label for="add" class="add">Address:</label><br>
                    <input style= "height:100px; width:400px;" type="text" name="add" id="add" required >
                <br>

            </div>


        <div class="changebut">
            <button class="edit" type="submit" href="{{ url_for('payment') }}">Next</button>
            <input class="edit" type="reset" value="Reset" />

            <a href="{{ url_for('shopping_cart') }}"><button class="edit" type="button">Back</button></a>
        </div>
        </fieldset>
    </form>
</div>

</div>
    <img src="../static/images/backk1.jpg" class="waterr">
{% endblock %}