{% extends "NavBar.html" %}

{% block content %}
    <br><br><br><br><br><br><br>
    <title>Your Cart</title>
    <link rel="stylesheet" type="text/css" href="../static/foodnavi.css">



<div class="top">
    <p class="toptitle">CART</p>
</div>
<br>
<ul>
{% for food in display_cart %}
<li class="itemboxcart">
    <div class="allitemcart ">
        <img class="deliverypiccart" src= "/static/images/{{ food['pic'] }}" >
        <h1 id="cartname">Name:{{ food["name"] }}</h1>
        <p class="incartword">Price:$ {{ "%.2f" % food["price"] }}</p>
        <p class="incartword">Calories: {{ food["calories"] }}</p>
        <p class="incartword">Amount Buying: {{ food["quantity"] }}</p>
{#        <a href="{{ url_for('deletecart', id=food['id']) }}">Delete</a>#}
    </div>
</li>


<br>
{% endfor %}
</ul>


<h3>Total: ${{ "%.2f" % total }} </h3>
{#<h3>Total Calories: {{ "%.2f" % calories }} </h3>#}
<br>
    <a class="edit" href="{{ url_for('afterpayment') }}">Checkout</a>
    <a class="edit" href="{{ url_for('resett') }}">Remove All</a>
    <a class="edit" href="{{ url_for('aboutitem') }}">Back</a>

<br>
{% endblock %}