*{
	padding-left: 0;
	margin: 0;
}

label{
    font-size: 1.2em;
}

h1{
    font-size: 3em;
    text-align: center;
}

hr{
    color: #423080;
    background-color: #423080;
	height: 1px;
}

.textbox{
    height: 10em;
    width: 45em;

}

#dishName{
    height:3em;
}


button{
    margin-left: -40em;
    padding-left: 1em;
    padding-right: 1em;
}

#submit{
    margin-right: -40em;
    padding-left: 1em;
    padding-right: 1em;
}

a{
    text-decoration:none;
}
