{% extends "NavBar.html" %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="../static/foodnavi.css">






<br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="pagetitle">Food Delivery</h1>>
    <div class="notfoodnav">
    <div id="decoration">
    <div class="slides">

        <div id="slide-1" class="inside">
            <img class="s" src="../static/images/slide1.png">

        </div>
        <div id="slide-2" class="inside">
            <img class="s" src="../static/images/slide2.jpg">
        </div>
        <div id="slide-3" class="inside">
            <img class="s" src="../static/images/slide3.jpg">
        </div>


    <div class="dotcon">
        <a href="#slide-1" class="dot"> </a>
        <a href="#slide-2" class="dot"> </a>
        <a href="#slide-3" class="dot"> </a>
    </div>
</div>
    </div>
<br>
    <br>
    <div class="foodoptions">
        <ul>
            {% for food in item %}
                {% if food.quantity==0 %}
                    <li class="itemboxhome">

                        <div class="allitemhome">

                                <div class="allfoodpiccontain">
                                    <div id="outtstockk">
                                    <p id="outtstock">Out Of Stock</p>
                                    </div>
                                    <img class="deliverypicallblack" src= "/static/images/{{ food['pic'] }}" >
                                </div>
                                <div class="allitemhomedetail">
                                    <h1 class="leftdeta">Name:</h1><h1 class="centerdeta"> {{ food["name"] }}</h1>
                                    <p class="leftdeta">Price:</p><p class="centerdeta"> ${{ food["price"] }}</p>
                                    <p class="leftdeta">Calories:</p><p class="centerdeta"> Calories: {{ food["calories"] }}</p>
                                </div>

                            <br>
                        </div>
                    </li>

                {% else %}
                    <li class="itemboxhome">

                        <div class="allitemhome">
                            <a class="gotoindivifood" href=/showitemdetail/{{ food.id }}>
                                <div class="allfoodpiccontain">
                                    <img class="deliverypicall" src= "/static/images/{{ food['pic'] }}" >
                                </div>
                                <div class="allitemhomedetail">
                                    <h1 class="leftdeta">Name:</h1><h1 class="centerdeta"> {{ food["name"] }}</h1>
                                    <p class="leftdeta">Price:</p><p class="centerdeta"> ${{ food["price"] }}</p>
                                    <p class="leftdeta">Calories:</p><p class="centerdeta"> Calories: {{ food["calories"] }}</p>
                                </div>
                            </a>
                            <br>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
<br>
    <br>
<br>
    <br>
    </div>
    </div>










<!--<div id="cont">-->
    <!--<div class="fnavcon">-->

        <!--<a class="fbutton" href="https://www.google.com"><img class="fnavi" src="../static/images/nav1.jpg">-->
            <!--<h3 class="centered">All</h3>-->
        <!--</a>-->
    <!--</div>-->

    <!--<div class="fnavcon">-->
        <!--<a class="fbutton"><img class="fnavi" src="../static/images/soba_noodles.jpg"></a>-->
        <!--<h3 class="centered">Main Dish</h3>-->
    <!--</div>-->

    <!--<div class="fnavcon">-->
        <!--<a class="fbutton"><img class="fnavi" src="../static/images/nav3.jpg"></a>-->
        <!--<h3 class="centered">Soup</h3>-->
    <!--</div>-->

    <!--<div class="fnavcon">-->
        <!--<a class="fbutton"><img class="fnavi" src="../static/images/nav4.jpg"></a>-->
        <!--<h3 class="centered">Dessert</h3>-->
    <!--</div>-->

    <!--<div class="fnavcon">-->
        <!--<a class="fbutton"><img class="fnavi" src="../static/images/nav5.jpg"></a>-->
        <!--<h3 class="centered">Drink</h3>-->
    <!--</div>-->

<!--</div>-->
{% endblock %}