{#<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='foodnavi.css') }}">#}
{% extends "NavBar.html" %}

{% block content %}
<br><br><br><br><br><br><br>
<link rel="stylesheet" type="text/css" href="../static/foodnavi.css">

<div class="tabledetaill">
<div class="indivifoodpic">
    <img class="deliveryindivipicc" src= "/static/images/{{ item['pic'] }}" >
</div>
    <div class="detailss">
    <br>
        <form  method="post" action="{{ url_for('add_to_cart',id=item.id )}}">
            <label for="quantity"><strong>Amount you are buying:</strong></label><br>
            <select name="quantity" id="quantity" class="selectpicker">
                {% for o in data %}
                    <option name="quantity" id ="quantity" value="{{ request.form['quantity'] or o.quantity}}">{{ o.quantity }}</option>
                {% endfor %}
            </select>

            <button type="submit">Add to Cart</button>
        </form>

<h2 id="indfname">{{ item.name }}</h2>

    <h3 class="pdetailtitle">Price:</h3>
    <p> {{ item.price }} </p>
    <br>
    <h3 class="pdetailtitle">Calories:</h3>
    <p>{{ item.calories }}</p>
<br>
    <h3 class="pdetailtitle">Type:</h3>
    <p>{{ item.type }}</p>
<br>
    <h3 class="pdetailtitle">Ingredients:</h3>
    <p>{{ item.ingredient }}</p>

    <br>

</div>
    <img class="funnn" src="../static/images/slide2.jpg">
</div>
    <a class="edit" href="{{ url_for('aboutitem') }}">Back</a>
    <a class="edit" href="{{ url_for('shopping_cart') }}">Your Cart</a>
{% endblock %}