*{
	padding-left: 0;
	margin: 0;
}


#titleee{
    text-align: center;
    font-size: 3em;
    color: #423080;
    padding-bottom: 2%;
}

th{
    /*white-space: pre-wrap;*/
    text-align: left;
}

h2{
    font-size: 2em;
    padding-left: 40em;
}


