div.trackForm{
   background-color: #e0eeee;
   float: right;
   margin-right: 30px;
   padding: 20px;
   border: 1px dashed #00868B;
   margin-top: -4%;
}

/*popup*/
.show{
    display: inline-block;
}

#appear{
    display: none;
    background-color: white;
    padding: 10px;
}

.show:hover #appear{
    display: block;
    position: absolute;
}

#up{
    text-align: center;
    font-family: Sans-Serif;
    background-color: #00868B;
    color: white;
    padding: 10px 15px 10px 15px;
}

.goal{
    background-color: #CCE3DE;
    /*width:30%;*/
    margin-top: -3%;
    padding: 15px;
    width: 15%;
    margin-left: 15px;
    text_decoration: underline;
}

#wecenter{
    text-align: center;
}

.Trt{
    /*overflow: auto;*/
    height: 200px;

}

#tp{
    color: #B23939;
    text-decoration: underline;
    font-weight: bold;
    margin-left: 15%;
}

table.scrollT{
    margin-left: 15%;
    border-collapse: collapse;
    width: 50%;
    max-height: 50px;
    overflow: scroll;
}

.notable{
    border: 1px solid black;
    padding: 6px;
    margin-left: 13%;
    height: 40%;
    width: 55%;
}

#noP{
    text-decoration: underline;
    margin: auto;
}

th{
    font-weight: bold;
}

th, td{
    border: 1px solid black;
    float: none;
    padding: 8px 0px 8px 0px;
    text-align: center;
}

#ToE{
    padding: 3px 15px 3px 15px;
}

#Ubtn{
    border-radius: 6px;
    border: 2px solid #0b6991;
    font-family: Sans-Serif;
    background-color: white;
    padding: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-left: 60px;
}

#Ubtn:hover{
    box-shadow: none;
    border: 1px solid #0b6991;
    color: gray;
    /*background-color: #0b6991;*/
    /*color: white;*/
    /*border-color: white;*/
}

/*.reward{*/
    /*border: 1px solid #00868b;*/
    /*margin: auto;*/
    /*width: 50%;*/
    /*height: 5%;*/
    /*padding: 7px;*/
    /*padding-top: 10px;*/
/*}*/

/*modal*/
body {font-family: Arial, Helvetica, sans-serif;}

button #myBtn{
    border-radius: 4px;
    border-color: #00868b;
    margin-left: 90%;
    padding-left: 50%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 120%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  /*border: 1px solid #888;*/
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border: 3px solid #00868b;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: #B23939;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: white;
  color: black;
  /*margin-left: 40%;*/
  color: #B23939;
  font-family: "Courier New";
  text-align: center;
}

.modal-body {
    padding: 2px 20px;
    text-align: center;
    border: 1px solid black;
    width: 70%;
    height: 25%;
    margin: auto;
}

p, .modalB{
    margin-top: 20px;
}

.modalB{
    border-radius: 4px;
    border: 1px solid #00868b;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color: white;
    padding: 4px;
}

#modalB{
    text-decoration: none;
    color: black;
}

.modalB:hover{
    box-shadow: none;
    opacity: 0.5;
}

.modal-footer {
  padding: 2px 16px;
  background-color: white;
  color: black;
  font-size: 0.5em;
}

/*button #myBtn{*/
    /*border-radius: 4px;*/
    /*border-color: #00868b;*/
    /*margin-left: 90%;*/
    /*padding-left: 50%;*/
/*}*/
