<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='TrackP.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='graphcss.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% extends 'NavBar.html' %}


{% block header %}
<br><br><br><br><br><br><br><br>
<div id="typ"><h1>{% block title %}Track Your Progress{% endblock %}</h1></div>
{% endblock %}


{% block content %}
<br><br><br><br><br>

<div class="goal">Your Goal: _______ </div>
<!--FORM-->
  <form  method="post"  onsubmit="return confirm('Confirm update of progress?');">
    <div class="trackForm">
        <h3 id="up">Update Your Progress</h3>
        <br><br>
        <h4>Type of Exercise</h4>
            <br>
                     <select name ="exer" value="{{ request.form['Exer'] }}" id="ToE" required>
                         <option value="" hidden>Select Type</option>
                         <option value="Vigorous">Vigorous</option>
                         <option value="Moderate">Moderate</option>
                         <option value="Light">Light</option>
                     </select>&nbsp;
            <div class="show">
            <i class="fa fa-info-circle"></i>
                <div id="appear">hello</div>
            </div>
        <br><br><br>
        <h4>Time Taken</h4>
            <br>
            <label>Hours</label>
                    <input type="number" min="0" max = "12" name="hours" id="Hr" value="{{ request.form['hours'] }}" required>
            <label>Minutes</label>
                    <input type="number" min="0" max = "60" name="mins" id="tT" value = "{{ request.form['mins'] }}" required>


            <br><br><br>
        <input type="submit" value="Update Progress" id="Ubtn">
    </div>
  </form>





<br><br><br><br>
<div class="Trt">
    <h2 id="tp" >Your Progress:</h2>
    <br>


<!--TABLE-->
  <table class="scrollT">

        {% if tester|length == 0: %}
           <div class="notable">
               <h3 id="noP"> You currently have no progress</h3>
               <br>
               <p id="wecenter">Track your progress by filling up the form on the right according to your exercise routine!</p>
           </div>
        {% else: %}
          <tr><th>Date</th><th>Type of Exercise</th><th>Time Taken</th></tr>
            {% for i in tester[0:5] %}
                <tr><td>{{i['date']}}</td><td>{{ i['exercise'] }}</td><td>{{ i['hour'] }} hrs {{ i['mins'] }} mins</td></tr>
            {% endfor %}
        {% endif %}

  </table>

<br><br><br><br><br><br><br>
</div>
<br><br><br><br><br><br><br>
<div class="reward">
    {% if points > 49 %}
        Your Points:
            Yay! You have accumulated {{points}} points! We are gifting you a $2 voucher for your hard work!
            Use code <div>{{[ Rcode ]}}</div>
        <p>Voucher is to be used in the delivery page only</p>
        <button>Use Now</button>
    {% elif points < 50 %}
            <div>{{points}} to be hidden </div>

    {% endif %}
</div>

<br><br><br><br><br><br><br>
<script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
//     function myFunction() {
//         if (confirm('Confirm update of progress?')){
//            window.location = "http://www.google.com/";
//         }else{
//            alert("You are not redirected.")
// }
//     }
</script>

<!--<div>-->
<!--<h1>Graphhhh</h1>-->



    <!--<img src="{{contents}}" class="graph">-->
<!--</div>-->



{% endblock %}

