<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleBar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CreateBlog.css') }}">
{% extends 'NavBar.html' %}

{% block header %}
<br><br><br><br><br><br><br><br>
<div><h1>{% block title %}Update Recipe{% endblock %}</h1></div>
{% endblock %}

{% block content %}
<body>
<div class = "form">
    <form method="post" enctype="multipart/form-data" >

        <table>
        <tr>
        <th width=50%>
            <br>
        <label for="dishName">Name of Dish</label>
            <br>
            <br>

             <textarea name="dishName" id="dishName" class="textbox">{{ request.form['dishName'] or post['dishName'] }}</textarea>
            <br>
            <br>
        <label for="ingredients">Ingredients</label>

            <br>
            <br>

        <textarea name="ingredients" id="ingredients" class="textbox">{{ request.form['ingredients'] or post['ingredients'] }}</textarea>

        <br>
        <br>

        <label for="nutrition">Nutrition Value</label>

            <br>
            <br>

        <textarea name="nutrition" id="nutrition" class="textbox">{{ request.form['nutrition'] or post['nutrition'] }}</textarea>

        <br>
        <br>

             <button><a href="/recipes">Cancel</a></button>

        </th>

            <th width = 1000>
        <label for="instructions">Instructions</label>

                <br>
                <br>

        <textarea name="instructions" id="instructions" rows="28" cols="100">{{ request.form['instructions'] or post['instructions'] }}</textarea>

        <br>
        <br>
                <input type="file" name="file" id="file" >

                <br>
                <br>

                <input type="submit" value="Save" id="submit">
            </th>
        </tr>
        </table>
    </form>
    </div>

</body>

{% endblock %}
