*{
	padding-left: 0;
	margin: 0;
}

h1{
    text-align: center;
    font-size: 3em;
    color: #423080;
    padding-top: 2%;
    padding-bottom: 2%;
}

label{
    font-size: 1.2em;
}

hr{
    color: #423080;
    background-color: #423080;
	height: 1px;
}

.textbox{
    height: 12em;
    width: 45em;


}

#dishName{
    height:3em;
}

#directions{
    height: ;
}

button{
    margin-left: -40em;
    padding-left: 1em;
    padding-right: 1em;
}

#submit{
    margin-right: -40em;
    padding-left: 1em;
    padding-right: 1em;
}
