div.trackForm{
   background-color: #e0eeee;
    float: right;
    margin-right: 30px;
    padding: 20px;
}

#up{
    text-align: center;
    font-family: Sans-Serif;
    background-color: #00868B;
    color: white;
    padding: 10px 15px 10px 15px;
}

table{
    margin-left: 9cm;
    border-collapse: collapse;
}

th, th{
    border: 1px solid black;
    font-weight: bold;
    float: none;
    padding: 8px;
}

#ToE{
    padding: 3px 15px 3px 15px;
}

#Ubtn{
    border-radius: 6px;
    border: 2px solid #0b6991;
    color: #0b6991;
    font-family: Sans-Serif;
    background-color: white;
    padding: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    margin-left: 60px;
}

#Ubtn:hover{
    box-shadow: none;
    background-color: #0b6991;
    color: white;
    border-color: white;
}



