<!DOCTYPE html>
<html lang="en">
<head>

    <title>Weight Warriors</title>
    <link rel="stylesheet" type="text/css" href="../static/styling/css2.css"/>
</head>

<body>
    <div class="container">
        <div class="column active">
            <div class="content">
                <h1>1</h1>
                <div class="box">
                    <h2>Overweight</h2>
                    <p>Here are some tips</p>
                    <a href="{{url_for('video')}}">Click here</a>
                </div>
            </div>
            <div class="bg bg1"></div>
        </div>
        <div class="column">
            <div class="content">
                <h1>2</h1>
                <div class="box">
                    <h2>Underweight</h2>
                    <p>Here are some tips</p>
                </div>
            </div>
            <div class="bg bg2"></div>
        </div>
        <div class="column">
            <div class="content">
                <h1>3</h1>
                <div class="box">
                    <h2>Beginner</h2>
                    <p>Here are some tips</p>
                </div>
            </div>
            <div class="bg bg3"></div>
        </div>
        <div class="column">
            <div class="content">
                <h1>4</h1>
                <div class="box">
                    <h2>Overweight</h2>
                    <p>Here are some tips</p>
                </div>
            </div>
            <div class="bg bg4"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(document).on('mouseover', '.container .column', function(){
            $(this).addClass('active').siblings().removeClass('active')
        })
    </script>


</body>
</html>
