<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Delivery</title>
    <link rel="stylesheet" type="text/css" href="../static/foodnavi.css">
</head>



<body>

    <div class="notfoodnav">
    <div id="decoration">
    <div class="slides">

        <div id="slide-1" class="inside">
            <img class="s" src="../static/images/slide1.png">

        </div>
        <div id="slide-2" class="inside">
            <img class="s" src="../static/images/slide2.jpg">
        </div>
        <div id="slide-3" class="inside">
            <img class="s" src="../static/images/slide3.jpg">
        </div>
        <div id="slide-4" class="inside">
            <img class="s" src="../static/images/slide3.jpg">
        </div>
        <div id="slide-5" class="inside">
            <img class="s" src="../static/images/slide3.jpg">
        </div>

    <div class="dotcon">
        <a href="#slide-1" class="dot"> </a>
        <a href="#slide-2" class="dot"> </a>
        <a href="#slide-3" class="dot"> </a>
        <a href="#slide-4" class="dot"> </a>
        <a href="#slide-5" class="dot"> </a>
    </div>
</div>
    </div>

    <div class="options">
        {% block content %}

        {% endblock %}
    </div>
    </div>










<!--<div id="cont">-->
    <!--<div class="fnavcon">-->

        <!--<a class="fbutton" href="https://www.google.com"><img class="fnavi" src="../static/images/nav1.jpg">-->
            <!--<h3 class="centered">All</h3>-->
        <!--</a>-->
    <!--</div>-->

    <!--<div class="fnavcon">-->
        <!--<a class="fbutton"><img class="fnavi" src="../static/images/soba_noodles.jpg"></a>-->
        <!--<h3 class="centered">Main Dish</h3>-->
    <!--</div>-->

    <!--<div class="fnavcon">-->
        <!--<a class="fbutton"><img class="fnavi" src="../static/images/nav3.jpg"></a>-->
        <!--<h3 class="centered">Soup</h3>-->
    <!--</div>-->

    <!--<div class="fnavcon">-->
        <!--<a class="fbutton"><img class="fnavi" src="../static/images/nav4.jpg"></a>-->
        <!--<h3 class="centered">Dessert</h3>-->
    <!--</div>-->

    <!--<div class="fnavcon">-->
        <!--<a class="fbutton"><img class="fnavi" src="../static/images/nav5.jpg"></a>-->
        <!--<h3 class="centered">Drink</h3>-->
    <!--</div>-->

<!--</div>-->
</body>
</html>