<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EditProfile</title>
    <link rel="stylesheet" type="text/css" href="../static/profile.css">
</head>
<body>
<div class="form">
    <form>
        <fieldset id="particular">

        <h1 class="title">Edit!</h1>


        <div class="question">
        <label>My Goal:<textarea cols=55 rows=5 name="mygoal" id="mygoal" required ></textarea></label>
        <br>
        <label>My Achievement:<textarea cols=55 rows=5 name="myach" id="myach" required ></textarea></label>
        <br>
        <label>My Address:<textarea cols=55 rows=5 name="myadd" id="myadd" required ></textarea></label>
        </div>
        </fieldset>

        <div class="changebut">
        <br>
        <a class="change" id="changeleft" href="">Back</a>
        <br>
        <a class="change" id="changeright" href="">Save Changes</a>
        </div>


    </form>
</div>
</body>
</html>