<!DOCTYPE html>
<html lang="en">
<head>

    <title>Hi</title>


    {% if  10<= femaleFloat<= 12 %}
     {{ femaleFloat}}
     {{ enter}}
    {%  elif 14<=femaleFloat<=20%}
     {{ femaleFloat}}
     {{ enter}}
    {%  elif 21<=femaleFloat<=24 %}
     {{ femaleFloat}}
     {{enter}}
    {%  elif 25<=femaleFloat<=31 %}
     {{ femaleFloat}}
     {{enter}}
    {% elif femaleFloat>32 %}
     {{ femaleFloat}}
     {{enter}}
    {% else %}
     {{result}}
    {% endif %}

</div>
</body>
</html>
