<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <link rel="stylesheet" type="text/css" href="../static/foodnavi.css">

</head>
<body>
<br>
<div class="top">
<p class="toptitle">PAYMENT</p>
</div>
<br>
<div class="paybuts">
    <a class="pay" href="">Cash On Delivery</a>

    <a class="pay" href="">Credit Card</a>
</div>

<br>
<a class="edit" href="cart.html">Your Cart</a>
<a class="edit" href="">Use Points</a>

<div class="smallinfo">

    <p>*Every 50 points can have a discount of $2</p>
    <p>*Press one time to deduct $2 from the total price</p>
</div>



</body>
</html>