import datetime as *
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='TrackP.css') }}">
{% extends 'NavBar.html' %}

{% block header %}
<h1>{% block title %}Track Your Progress{% endblock %}</h1>
{% endblock %}


{% block content %}
<br><br><br>

  <form method="post">
    <div class="trackForm">
        <h3 id="up">Update Your Progress</h3>
        <br><br>
        <h4>Type of Exercise</h4>
            <br>
                     <select name ="exer" value="{{ request.form['Exer'] }}" id="ToE" required>
                         <option value="" hidden>Select Type</option>
                         <option value="Vigorous">Vigorous</option>
                         <option value="Moderate">Moderate</option>
                         <option value="Light">Light</option>
                     </select>
            <br><br><br>

        <h4>Time Taken(in minutes)</h4>
            <br>
            <label>Hours</label>
                    <input type="number" min="0" max = "24" name="hours" id="Hr" value="{{ TraTab.form['hours'] }}" required>
            <label>Minutes</label>
                    <input type="number" min="1" max = "60" name="mins" id="tT" value = "{{ TraTab.form['mins'] }}" required>


            <br><br><br>
        <input type="submit" value="Update Progress" id="Ubtn" >
    </div>
  </form>



<br><br><br><br>

  <table>
      <tr><th>Date</th><th>Type of Exercise</th><th>Time Taken(in minutes)</th></tr>
      <tr><td>{{datetime.date}}</td><td>{{ TraTab[0] }}</td><td>{{ TraTab[1] }}</td><td>{{ TraTab[2] }}</td></tr>

  </table>


{% endblock %}



