<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weight Warriors</title>
    <link rel="stylesheet" type="text/css" href="../static/styling/css3.css">
</head>
<body>
   <ul id="wassup">
     <li>
	     <div class="imageBox">
		    <figure>
			  <iframe src="https://www.youtube.com/watch?v=cGTdFbFLdDM">

			  </iframe>
			  <figcaption>
			      <h1>Enviromental Beach Cleanup</h1>
				  <p>Love the beach?Wanna help in keeping it clean?</p>
				  <p>Click the link below to find out more!</p>
				  <a href="beach.html">Learn More</a>
			  </figcaption>
			</figure>
		 </div>
	 </li>
	 <li>
	     <div class="imageBox">
		    <figure>
			  <iframe src="https://www.youtube.com/watch?v=cGTdFbFLdDM">

			  </iframe>
			  <figcaption>
			      <h1>Youth Enviroment</h1>
				  <p>Let us as youths come together and learn how to save and care for the environment :)</p>
				  <p>Click the link below to find out more!</p>
			  </figcaption>
			</figure>
		 </div>
	 </li>
	 <li>
	     <div class="imageBox">
		    <figure>
			  <iframe src="https://www.youtube.com/watch?v=cGTdFbFLdDM">

			  </iframe>
			  <figcaption>
			      <h1>Learn to be green at NYP!</h1>
				  <p> Our school's environment is our second home,</p>
				  <p>so come make NYP a green and conducive place to learn in!</p>
				  <p>Click the link below to find out more!</p>

			  </figcaption>
			</figure>
		 </div>
	 </li>
   </ul>
   <br>



</body>
</html>
