#w{
   border:1px solid whitesmoke;
   border-radius: 5px 5px;
    background-color: dimgrey;
    display: none;
}
#wh{
    border:1px solid whitesmoke;
   border-radius: 5px 5px;
    background-color: dimgrey;
    height:40%;

}

.tag{
      margin-left: 410px;
      margin-top: 5px;
      font-size: 20px ;
      font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
      background-color: ghostwhite;
      border: none;
      outline: none;
      height:80px;

}
button:focus{ outline: 1px solid black}
#weight
{
        margin-left: 300px;
        margin-top:20px;
        width:300px;
        text-align: center;
        border-radius: 5px 5px;
}
#height
{
        margin-left: 300px;
        margin-top:10px;
        width:300px;
        text-align: center;
        border-radius: 5px 5px;
}

h1{
    margin-left: 280px;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 30px;
    font-weight: bold;
}


#next{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #b23939;
    text-decoration: none;
    margin-top: 70px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 300px;


}


*{
	padding-left: 0px;
	margin: 0px;
}



/* Navigation bar including title*/
.navibar{
	background-color: white;
	font-size: 1.2em;
	font-style: normal;

	width: 100%;
    padding-top: 20px;
}
/*weight warrior*/
.tname{
	text-align: center;
	margin-left: 1%;
    color: #B23939;
    font-size: 1.9em;
    font-family: "Courier New";
    font-weight: bolder;
}

#welc{
	float: right;
	margin-top: -30px;
	margin-right: 30px;
    color:  #297373;
}

/*profpic*/
#small{
	width:30px;
	height: 30px;
    margin-bottom: -10px;
    margin-top: -5px;
    margin-left: -8px;
}

/*line*/
hr{
	background-color: #00868B;
    border-color: #00868B;
	height: 2px;
	margin-top: 15px;
    width: 100%;
}

/*the links*/
.navbar{
    padding-left: 15em;
}

.navbar a {
  float: left;
  font-size: 18px;
  color: #00868B;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  text-shadow:0px 0 black, 0 0.1px black, 0.1px 0 black, 0 0px black;
}

/*dropdowns*/
.profpic, .inspi {
  float: left;
  overflow: hidden;
}

 .profpic .picdrop{
  font-size: 16px;
  border: none;
  outline: none;
  color: #00868B;
  padding: 11.5px 11.5px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
 }

.inspi .inspibtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: #00868B;
  text-shadow:0px 0 black, 0 0.1px black, 0.1px 0 black, 0 0px black;
  padding: 12px 12px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .profpic:hover .picdrop, .inspi:hover .inspibtn{
  border-bottom: 2px solid #B23939;
  text-shadow: none;
}

.picdown-content, .inspidown-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.picdown-content a, .inspidown-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.picdown-content a:hover ,.inspidown-content a:hover{
  background-color: white;
}

.profpic:hover .picdown-content, .inspi:hover .inspidown-content {
  display: block;
}
