
.imageBox img{width:300px;
              height:100px;

}

body{margin:0;
     padding:0;
	 font-family:sans-serif;
}

#wassup{   margin-left:10px;
           margin-top:40px;
		   padding:0;
		   width:1200px;
		   display:flex;
}

#wassup li .imageBox{ width:400px;
                      height:285px;
					  box-sizing:border-box;
					  padding:0 10px;
}

ul li .imageBox figure{
	                   position:relative;
					   margin:0;
					   padding:0;
					   overflow:hidden;

}


ul li .imageBox figure:before, ul li .imageBox figure:after
{
	content:'';
	position: absolute;
	top:0;
	height:100%;
	width:50%;
	background-color:#262626;
	transition:.5s;
}

ul li .imageBox figure:before
{
	left:-50%;
}
ul li .imageBox:hover figure:before
{
	left:0;
}

ul li .imageBox figure:after
{
	right:-50%;
}
ul li .imageBox:hover figure:after
{
	right:0;
}

ul li .imageBox figure img{ width:100%;
                            height:100%;

}

ul li .imageBox figure figcaption{
	                              position:absolute;
								  top:20px;
								  left:20px;
								  bottom:20px;
								  right:20px;
								  background-color:#fff;
								  text-align:center;
								  padding:20px;
								  opacity:0;
								  transition:.5s;
								  transform:translateY(-20px);
								  z-index:1;



}

ul li .imageBox:hover figure figcaption{
	                                     opacity:1;
										 transform:translateY(0);
}

ul li .imageBox figure figcaption h1 {margin:0;
                                      padding:0;
									  font-size:22px;
									  font-weight:bold;
}

ul li .imageBox figure figcaption p{ margin:10px 0 0;
                                     padding:0;
									 font-size:16px;
}

ul li .imageBox figure figcaption a {display:inline-block;
                                     padding:10px 20px;
									 background-color:#ff1922;
									 color:#fff;
									 margin-top:20px;
									 text-decoration:none;
}



#olala{border:1px solid black;
       background-color:rgba(128,255,128,.9);
	   text-align:center;
       width:40%;
	   margin-left:380px;
	   font-family:Lucida Console,Monaco,monospace;
	   box-shadow:5px 5px #888888;
	   border-radius:10px;
}



/* Navigation bar including title*/
.navibar{
	background-color: white;
	font-size: 1.2em;
	font-style: normal;

	width: 100%;
    padding-top: 20px;
}
/*weight warrior*/
.tname{
	text-align: center;
	margin-left: 1%;
    color: #B23939;
    font-size: 1.9em;
    font-family: "Courier New";
}

#welc{
	float: right;
	margin-top: -30px;
	margin-right: 30px;
    color:  #297373;
}

/*profpic*/
#small{
	width:30px;
	height: 30px;
    margin-bottom: -10px;
    margin-top: -5px;
    margin-left: -8px;
}

/*line*/
hr{
	background-color: #00868B;
    border-color: #00868B;
	height: 2px;
	margin-top: 15px;
    width: 100%;
}

/*the links*/
.navbar{
    padding-left: 15em;
}

.navbar a {
  float: left;
  font-size: 18px;
  color: #00868B;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
  text-shadow:0px 0 black, 0 0.1px black, 0.1px 0 black, 0 0px black;
}

/*dropdowns*/
.profpic, .inspi {
  float: left;
  overflow: hidden;
}

 .profpic .picdrop{
  font-size: 16px;
  border: none;
  outline: none;
  color: #00868B;
  padding: 11.5px 11.5px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
 }

.inspi .inspibtn {
  font-size: 18px;
  border: none;
  outline: none;
  color: #00868B;
  text-shadow:0px 0 black, 0 0.1px black, 0.1px 0 black, 0 0px black;
  padding: 12px 12px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .profpic:hover .picdrop, .inspi:hover .inspibtn{
  border-bottom: 2px solid #B23939;
  text-shadow: none;
}

.picdown-content, .inspidown-content{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.picdown-content a, .inspidown-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.picdown-content a:hover ,.inspidown-content a:hover{
  background-color: white;
}

.profpic:hover .picdown-content, .inspi:hover .inspidown-content {
  display: block;
}



#die
{
    outline: none;
    color: #00868B;
    text-decoration: none;
    margin-top: 100px;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
}
